footer.footer
    .container.container--bottom
        .copyright Copyright © In Young Choi, 2015
        nav.nav
            ul.nav__list
                li.nav__item.nav--bottom
                    a.nav__link(href="/") Главная
                li.nav__item.nav--bottom
                    a.nav__link(href="about.html") О нас
                li.nav__item.nav--bottom
                    a.nav__link(href="services.html") Услуги
                li.nav__item.nav--bottom
                    a.nav__link(href="prices.html") Цены
                li.nav__item.nav--bottom
                    a.nav__link(href="certificates.html") Сертификаты
                li.nav__item.nav--bottom
                    a.nav__link(href="contacts.html") Контакты