extends ../template

block variables
    - var title = 'О нас';

block content
    .wrapper
        include ../common/header-top
        .main-content   
            .container
                .pictures
                    ul.pictures__list
                        li.pictures__item
                            .pictures__pic
                                img.pictures__img(src="assets/images/picture1.png", alt="Бухгалтерские услуги Караганда")
                        li.pictures__item
                            .pictures__pic
                                img.pictures__img(src="assets/images/picture2.png", alt="Бухгалтерские услуги Караганда")
                        li.pictures__item
                            .pictures__pic
                                img.pictures__img(src="assets/images/picture3.png", alt="Бухгалтерские услуги Караганда")
                        li.pictures__item
                            .pictures__pic
                                img.pictures__img(src="assets/images/picture4.png", alt="Бухгалтерские услуги Караганда")
                    .about
                        h2.resume__item-name О нас
                        p #[b ТОО "FutureConsulting"] оказывает услуги для юридических лиц и индивидуальных предпринимателей в сфере бухгалтерии и налогового учета. 
                        p Наши специалисты обладают бесценным опытом и всеми необходимыми знаниями для выполнения работы, связанной с ведением бухгалтерского учета на предприятиях. 
                        p Выбирая нашу компанию, Вы получите гарантированное, высокое качество услуг по приемлемым ценам, возможность получить профессиональную консультацию, индивидуальный подход к каждому клиенту.
                        p Стоимость бухгалтерских услуг рассчитывается исходя из их объемов и уровня сложности, что делает их доступными для широкого круга клиентов.
                        ul #[b У нас могут обслуживаться клиенты с различными режимами налогообложения и формами организационно-правовой собственности:]
                            li Товарищества с ограниченной ответственностью
                            li Индивидуальные предприниматели
                            li Частные нотариусы
                            li Иностранные представительства
                            li Общественные объединения
                            li Физические лица
                            li Прочие
                        h2.resume__item-name Наши ценности
                        p В основе нашей деятельности – понимание того, что она должна соответствовать интересам и потребностям каждого клиента индивидуально.
                        ul Основными приоритетами компании являются:
                            li Честность
                            li Надежность
                            li Качество
                            li Профессионализм
                            li Результативность
                            li Стремление совершенствоваться
                            li Ответственность
                            li Добросовестное отношение


                        

        include ../common/footer