extends ../template

block variables
    - var title = 'Сертификаты';

block content
    .wrapper
        include ../common/header-top
        .main-content   
            .container
                .gallery
                    a(href="assets/images/certificate/11.jpg" data-caption="Image caption")
                        img(src="assets/images/certificate/thumbnail/11.jpg", alt="First Image")
                    a(href="assets/images/certificate/12.jpg")
                        img(src="assets/images/certificate/thumbnail/12.jpg", alt="Second Image")
                    a(href="assets/images/certificate/13.jpg")
                        img(src="assets/images/certificate/thumbnail/13.jpg", alt="Third Image")
                    a(href="assets/images/certificate/14.jpg")
                        img(src="assets/images/certificate/thumbnail/14.jpg", alt="Fourth Image")
                    a(href="assets/images/certificate/15.jpg")
                        img(src="assets/images/certificate/thumbnail/15.jpg", alt="Fifth Image")
                    a(href="assets/images/certificate/16.jpg")
                        img(src="assets/images/certificate/thumbnail/16.jpg", alt="Sixth Image")
                    a(href="assets/images/certificate/17.jpg")
                        img(src="assets/images/certificate/thumbnail/17.jpg", alt="Seventh Image")
                    a(href="assets/images/certificate/18.jpg")
                        img(src="assets/images/certificate/thumbnail/18.jpg", alt="Eighth Image")
                    a(href="assets/images/certificate/19.jpg")
                        img(src="assets/images/certificate/thumbnail/19.jpg", alt="Nineth Image")
                    a(href="assets/images/certificate/20.jpg")
                        img(src="assets/images/certificate/thumbnail/20.jpg", alt="Tenth Image")
                    a(href="assets/images/certificate/21.jpg")
                        img(src="assets/images/certificate/thumbnail/21.jpg", alt="Eleventh Image")
                    a(href="assets/images/certificate/22.jpg")
                        img(src="assets/images/certificate/thumbnail/22.jpg", alt="Twelveth Image")
                    a(href="assets/images/certificate/23.jpg")
                        img(src="assets/images/certificate/thumbnail/23.jpg", alt="Thirteenth Image")
                    a(href="assets/images/certificate/24.jpg")
                        img(src="assets/images/certificate/thumbnail/24.jpg", alt="Fourteenth Image")
                    a(href="assets/images/certificate/25.jpg")
                        img(src="assets/images/certificate/thumbnail/25.jpg", alt="Fiveteenth Image")
                    a(href="assets/images/certificate/26.jpg")
                        img(src="assets/images/certificate/thumbnail/26.jpg", alt="Sixteenth Image")

        include ../common/footer