extends ../template

block variables
    - var title = 'Услуги';

block content
    .wrapper
        include ../common/header-top
        .main-content   
            .container
                .services
                    h2.resume__item-name Услуги
                    p ТОО "FutureConsulting" оказывает следующие услуги для юридических лиц и индивидуальных предпринимателей в сфере бухгалтерии и налогового учета:
                .resume
                    ul.resume__list
                        li.resume__item.resume__item--half
                            .column-part
                                h3 Проверка состояния бухгалтерского учета
                                ul
                                    li Проверка соответствия ведения бухгалтерского учета в вашей компании или организации действующему законодательству РК
                                    li Какие ошибки уже допущены, как исправить возможные последствия?
                                    li Правильно ли подготовлена и обработана первичная документация?
                                    li Правильно ли отражены данные в бухгалтерских проводках?
                                    li Правильно ли заполнена отчетность?
                            .column-part
                                h3 Восстановление бухгалтерского учета
                                p Достаточно трудоемкий и длительный процесс, мы изучаем документацию, оцениваем состояние учета и сданной отчетности в контролирующие органы, информируем заказчика о возможных штрафах, затем начинаем процедуру восстановления учета и отчетности.
                            .column-part
                                h3 Сдача налоговой и статистической отчетности
                                p В случае если бухгалтерский учет ведется Вами самостоятельно, но сдавать отчетность Вы не решаетесь, мы можем ежеквартально на основании документов, предоставленных Вашей организацией в электронном или бумажном виде сформировать и сдать отчетность.
                                p В случае, если в текущем периоде Ваше предприятие не вело финансово-хозяйственную деятельность, формируется «нулевая» налоговая отчетность
                            .column-part
                                h3 Сдача налоговой и статистической отчетности
                                p Не все бухгалтера и индивидуальные предприниматели на сегодняшний день готовы к сдаче отчетности в рамках таможенного союза, здесь можно рассчитывать на нашу помощь. Вы предоставляете нам всю необходимую документацию, мы формируем ФНО 320.00 и 328.00, сдаем их в налоговое управление, а так же предоставляем отчетность в органы статистики.
                        li.resume__item.resume__item--half
                            .column-part
                                h3 Полное бухгалтерское сопровождение
                                p При выборе данной услуги, вы получаете полное бухгалтерское сопровождение Вашей компании, первичная документация хранится и обрабатывается в нашем офисе, сотрудники нашей компании осуществляют выписку первичной документации, ведение кадрового делопроизводства непосредственно связанного с бухгалтерским учетом, осуществляют оплату счетов, формируют и сдают налоговую, статистическую отчетность и отчетность в национальный банк, формируют налоговые регистры, составляют и вносят корректировки в налоговую и бухгалтерскую учетную политику.
                            .column-part
                                h3 Разовые бухгалтерские услуги
                                p Если Вы самостоятельно ведете бухгалтерский учет, но у Вас возникают вопросы в отдельных случаях, мы готовы предоставить Вам разовые услуги соответствующие конкретному запросу.
                            .column-part
                                h3 Дополнительные услуги​
                                ul 
                                    li Постановка на регистрационный учет по НДС
                                    li Регистрация контрольно-кассовой машины
                                    li Изменение регистрационных данных
                                    li Получение электронно-цифровой подписи
                                    li Разработка налоговой учетной политики
                                    li Разработка бухгалтерской учетной политики
                                    li Ведение кадрового делопроизводства
        include ../common/footer